<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<body>
<div class="container">
    <% if(!user) { %>
    <% advice = 'You need to authenticate'%>
    <% include ../../partials/advice-login.ejs %>
    <% } else { %>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><span class="fa fa-info-circle"></span> Help</strong>
        Pick multiple results with ctrl + click or shift + click.
    </div>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card myCard">
                <div class="card-block">
                    <div class="card-text">
                        <form role="form" method="POST" id="form" action="/delete-data">
                            <div class="form-group">
                                <label for="results">
                                    <h4 class="card-title">
                                        <span class="fa fa-remove"></span> Select one or more results to delete
                                    </h4>
                                    <hr>
                                </label>
                                <select class="form-control" name="results" id="results" multiple size="12">
                                    <% for(var i = 0, len = data.length; i < len; i++){ %>
                                    <% if(data[i].eleccion.autor === user._id || user.email === 'jesusgonzaleznovez@gmail.com') { %>
                                    <option value="<%= data[i]._id %>">
                                        <%= moment(data[i].eleccion.fecha).format('DD/MM/YYYY') %>,
                                        <%= data[i].provincia %>,
                                        by <%= data[i].eleccion.autor %>
                                    </option>
                                    <% } %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" required/>
                                <label class="text-info">I understand it will delete all selected items and they will
                                    lost for all
                                    users.</label>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="card-footer text-xs-right">
                    <button type="submit" class="btn btn-danger" form="form">
                        <span class="fa fa-minus-circle"></span> Ok, delete selected items
                    </button>
                </div>


            </div>
        </div>
    </div>
</div>
<% } %>
<% include ../../partials/footer.ejs %>
</body>
</html>
