<div class="card-deck-wrapper">
<div class="card-deck">
    <div class="card ">
        <img src="/images/error.jpg" class="card-img-top" width="100%" height="320"/>
        <div class="card-block">
            <div class="card-text">
                <p>
                    <code><span class="fa fa-info-circle"></span> <%= err %></code>
                </p>

            </div>
        </div>
    </div>
    <div class="card ">
        <img src="/images/login.png" class="card-img-top" width="100%" height="320"/>
        <div class="card-block">
            <div class="card-text">

                <div class="row">
                    <div class="col-xs-6">
                        <a href="/login" class="btn btn-block btn-primary">
                            <span class="fa fa-sign-in"></span> Login
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/signup" class="btn btn-block btn-danger">
                            <span class="fa fa-pencil-square-o"></span> Register
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
