<div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong><span class="fa fa-info-circle"></span> ERROR</strong><hr>
    <%= advice %><hr>

    <a href="/login" class="btn btn-block btn-primary">
        <span class="fa fa-sign-in"></span> Login
    </a>
    <a href="/signup" class="btn btn-block btn-danger">
        <span class="fa fa-pencil-square-o"></span> Sign Up
    </a>
</div>