<nav class="navbar navbar-fixed-bottom footer text-xs-center">
    <img src="/images/logo.png" height="32"/><br>
    <small>
        Copyright &copy; <%= new Date().getFullYear() %> |
        Jesús Á. González
    </small>
</nav>
