<nav class="navbar navbar-fixed-bottom footer">

    <ul class="nav navbar-nav offset-sm-5">
        <li class="nav-item active">
            <a class="nav-item nav-link" href="https://twitter.com/jesusgon90"><span class="fa fa-twitter-square fa-2x"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-item nav-link" href="https://www.linkedin.com/in/jesús-ángel-gonzález-novez-410880a6"><span class="fa fa-linkedin-square fa-2x"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-item nav-link" href="mailto:jesusgonzaleznovez@gmail.com"><span class="fa fa-envelope-o fa-2x"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-item nav-link" href="https://github.com/jesusgn90"><span class="fa fa-git-square fa-2x"></span></a>
        </li>
    </ul>
</nav>