<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="card">
            <img src="/images/error.jpg" width="100%" class="card-img-top"/>
            <div class="card-block">
                <h4 class="card-title">
                    <span class="fa fa-battery-empty"></span> Sorry but database is empty
                </h4>
                <div class="card-text">

                </div>
            </div>
        </div>
        <div class="card">

            <div class="card-block">
                <h4 class="card-title">
                    <span class="fa fa-info-circle"></span> Information
                </h4>
                <div class="card-text" id="content">
                    <p>
                        There are no results stored to show. Please contact administrator to setup the system results.
                        You can upload your own results in the add section.
                    </p>
                    <p>
                        Useful links:
                    <ul>
                        <li>
                            Contact admin <a href="mailto:jesusgonzaleznovez@gmail.com">jesusgonzaleznovez@gmail.com</a><br>
                        </li>
                        <li>
                            Go to <a href="/add-data"> add data</a> section
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>