<nav class="navbar navbar-fixed-bottom navbar-dark bg-primary" style="padding-top:0px; padding-bottom:0px">

    <ul class="nav navbar-nav offset-sm-5">
        <li class="nav-item active  ">
            <a class="nav-item nav-link" href="#"><span class="fa fa-facebook-square fa-2x"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-item nav-link" href="#"><span class="fa fa-twitter-square fa-2x"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-item nav-link" href="#"><span class="fa fa-linkedin-square fa-2x"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-item nav-link" href="#"><span class="fa fa-envelope-o fa-2x"></span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-item nav-link" href="#"><span class="fa fa-git-square fa-2x"></span></a>
        </li>
    </ul>


</nav>