<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">


    <div class="navbar-text float-xs-left">
        &copy; Jesús Ángel González Novez, 2016
    </div>
    <div class="navbar-text float-xs-center">

    </div>
    <div class="navbar-text float-xs-right">
        <span class="fa fa-facebook-square"></span> |
        <span class="fa fa-twitter-square"></span> |
        <span class="fa fa-linkedin-square"></span> |
        <span class="fa fa-envelope-o"></span> |
        <span class="fa fa-git-square"> Want to collaborate?</span>
    </div>

</nav>