<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js" ></script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="/github-plugin/github.css">
    <script src="/github-plugin/jquery.github.min.js"></script>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <!-- Minified Cookie Consent served from our CDN -->
    <script src="/js/cookieconsent.min.js"></script>
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-floating"};
    </script>
</head>