<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/github-plugin/github.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js" ></script>
    <script src="/js/bootstrap.min.js" ></script>
    <script src="/github-plugin/jquery.github.min.js"></script>
    <script src="/js/cookieconsent.min.js"></script>
    <script type="text/javascript">
        window.cookieconsent_options = {
                "message" : "This website uses cookies to ensure you get the best experience on our website",
                "dismiss":"Got it!",
                "learnMore":"More info",
                "link":null,
                "theme":"dark-floating"
            };
    </script>
</head>