<nav class="navbar navbar-fixed-top navbar-dark bg-primary" style="padding-right: 10px;" role="navigation">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>

    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <a class="navbar-brand" href="/"><img src="/images/brand.png" width="30" height="25" alt=""/> EllSim</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/graphic-form"><span class="fa fa-bar-chart"></span> Simulator</a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/compare-data"><span class="fa fa-eye"></span> Compare data</a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/learn"><span class="fa fa-bookmark-o"></span> Learn</a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/add-data"><span class="fa fa-plus-square-o"></span> Add data</a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/delete-data"><span class="fa fa-remove"></span> Delete data</a>
            </li>

        </ul>

        <ul class="nav navbar-nav float-lg-right ">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/help"><span class="fa fa-question-circle-o"></span> Help</a>
            </li>
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/doc/index.html"><span class="fa fa-book"></span> Read the docs!</a>
            </li>
        </ul>
    </div>

</nav>
