<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<body>
<div class="container">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-code"></span> Api usage
                    </h4>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-xs-12">
                                Api is at <b>/api/v1/</b>. Send a post request to <b>/api/v1/authenticate</b>,
                                use your token in every route under <b>/api</b> path.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-comments-o"></span> Updates
                    </h4>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-xs-4">
                                <span class="blockquote">Growing day by day!</span>
                            </div>
                            <div class="col-xs-4">
                                <span class="fa fa-puzzle-piece"></span> Under construction&hellip; 75%<br>
                                <progress class="progress progress-striped" value="75" max="100"
                                          aria-describedby="example-caption-5">75%
                                </progress>
                            </div>
                            <div class="col-xs-4">
                                <form method="post" id="formSubscriber" name="formSubscriber"
                                      action="/users/addSubscriber">
                                    <div class="form-group">
                                        <label for="subscriber">
                                            <span class="fa fa-envelope-o"></span> Receive updates
                                        </label>
                                        <input type="email" class="form-control" id="subscriber" name="subscriber"
                                               placeholder="e-mail" required>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button type="submit" class="btn btn-primary" form="formSubscriber">
                                            <span class="fa fa-send-o"></span> Subscribe
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("[data-repo]").github({
        iconStars: true,
        iconForks: true,
        iconIssues: true
    });
</script>
<% include ../../partials/footer.ejs %>
</body>
</html>
