<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
</head>
<body background="images/construction.jpg">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                <a class="list-group-item active">
                    Register
                </a>
                <a class="list-group-item list-group-item-action">
                    <form class="form">
                        <div class="form-group">
                            <label class="sr-only" for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="message">Message</label>
                            <input type="text" class="form-control" id="message" placeholder="Your message...">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </a>
            </div>
            <hr>
            <div class="list-group">
                <a class="list-group-item active">
                    How to
                </a>
                <a class="list-group-item list-group-item-action">
                    Api is at:<br>
                    <code>http://localhost:3000/api/</code><br>
                    Send a post request to: <br>
                    <code>http://localhost:3000/api/authenticate</code><br>
                    with the same structure as this:<br>
                    <code>{<br>
                        &nbsp;&nbsp; email:&nbsp;&nbsp;&nbsp;&nbsp;'example@example.com',<br>
                        &nbsp;&nbsp; password:&nbsp;'password'<br>
                        }
                    </code><br>
                    Use your token in every route under /api/ path.<br><br>
                    Enjoy it!
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="list-group">
                <a class="list-group-item active">
                    Description
                </a>
                <a class="list-group-item list-group-item-action">
                    Project is at:<br><code> https://github.com/jesusgn90/TFG</code><br>
                </a>
            </div>
            <hr>
            <div class="list-group">
                <a class="list-group-item active">
                    Status
                </a>
                <a class="list-group-item list-group-item-action">
                    <code>Under construction&hellip; </code> 15%<br>
                    <progress class="progress" value="8" max="100" aria-describedby="example-caption-5">8%</progress>
                </a>
            </div>
            <hr>
            <div class="list-group">
                <a class="list-group-item active">
                    Logs
                </a>
                <a class="list-group-item list-group-item-action">
                    <% for(var i=0; i<logs.length; i++) { %>
                    <code><%= logs[i].message %>, <%= moment(logs[i].date).format('HH:mm, DD/MM/YYYY') %></code> <hr>
                    <% } %>
                </a>
            </div>

        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>

</body>
</html>
