<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
	<h1>
		<%= title %>
    </h1>

    <h2> Datos de entrada: </h2>
    <pre><%= inspect(entrada) %></pre>

    <h2> Datos de salida: </h2>
    <pre><%= inspect(salida) %></pre>
</body>
</html>
