body {
    padding: 50px;
    font: 14px "Roboto Sans", Helvetica, Arial, sans-serif !important;
    background-color: #e3e3e3 !important;
}

.navbar, .dropdown-menu, .dropdown-item {
    background-color: #89bdd3 !important;
    color: #FCFCFC !important;
    border-radius: 0 !important;
    font: 16px "Roboto Sans", Helvetica, Arial, sans-serif !important;
}

.navbar-brand, .nav-link, .dropdown-toggle {
    color: #FCFCFC !important;
}
.navbar-brand:hover, .nav-link:hover, .dropdown-toggle:hover, .dropdown-menu:hover, .dropdown-item:hover {
    color: #FCCCCC !important;
}

a, button, select, input, .card, .card-block, .card-deck, .card {
    border-radius: 0 !important;
}
.indexCard {
    border: 0px !important;
    border-bottom-color: transparent !important;
    border-bottom: none !important;
}
.footer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #FCFCFC;
}

.myCard {
    padding-bottom: 50px;
}

.card-footer {
    width: 100%;
    position: absolute;
    padding-right: 4px !important;
    bottom: 0;
}




