body {
    padding: 50px;
    font: 16px "Roboto Sans", Helvetica, Arial, sans-serif !important;
    background-color: #e3e3e3 !important;
}

.btn-stored{
    color:#FCFCFC;
    background-color: #1f7e9a;
}
.btn-stored:hover{
    color:#FCFCFC;
    background-color: #82919a;
}
.container {
    margin-top: 20px;
}
.dataTables_filter { visibility: hidden;}
.navbar, .dropdown-menu, .dropdown-item, .hidden-lg-up {
    background-color: #89bdd3 !important;
    color: #FCFCFC !important;
    border-radius: 0 !important;
    font: 18px "Roboto Sans", Helvetica, Arial, sans-serif !important;
}

.navbar-brand, .nav-link, .dropdown-toggle {
    color: #FCFCFC !important;
}
.navbar-brand:hover, .nav-link:hover, .dropdown-toggle:hover, .dropdown-menu:hover, .dropdown-item:hover {
    color: #1f7e9a !important;
}
.btn:hover {
    color: #1f7e9a !important;
}
th,td { text-align: center !important; }
.pastel-btn {
    background-color: #89bdd3 !important;
    color: #FCFCFC !important;
    border-radius: 0 !important;
    border-width: 0 !important;
    font: 16px "Roboto Sans", Helvetica, Arial, sans-serif !important;
}

a, button, select, input, .card, .card-block, .card-deck, .card, .card-img-top {
    border-radius: 0 !important;
}

.indexCard {
    border: 0 !important;
    border-bottom-color: transparent !important;
    border-bottom: none !important;
}
.indexCard:hover {
    opacity: 0.80;
}

.footer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #FCFCFC;
}

.myCard {
    padding-bottom: 50px;
}

.card-footer {
    width: 100%;
    position: absolute;
    padding-right: 4px !important;
    bottom: 0;
}




