body {
  padding: 50px;
  /*font: 14px "Roboto Sans", Helvetica, Arial, sans-serif !important;*/

}
button, select, input {
  border-radius: 0px !important;
}
.card, .card-block {
  border-radius: 0px !important;
}
.card-deck .card{
  border-radius: 0px !important;
  padding-top: 10px;
  padding-bottom: 50px;
}

.card-img-top {
  padding: 3px;

}
.card-footer{
  width: 100%;
  position: absolute;
  padding-right: 4px !important;
  bottom:0;
}
a {
  border-radius: 0px !important;
  color: #00B7FF;
}
