body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}
button, select, input {
  border-radius: 0px !important;
}
.card-deck .card{
  padding-bottom: 50px;
}
.card-footer{
  width: 100%;
  position: absolute;
  bottom:0;
}
a {
  border-radius: 0px !important;
  color: #00B7FF;
}
