<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>

<body>
<div class="container">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block  ">
                    <h4 class="card-title">
                        <span class="fa fa-info-circle"></span> Welcome to the Quiz
                    </h4>
                    <% if(typeof acierto !== 'undefined') { %>
                    <% if(acierto){ %>
                    <p class="alert-info"><span class="fa fa-info-circle"></span> OK, you answered correctly, let's answer the next question.</p>
                    <% }else { %>
                    <p class="alert-danger"><span class="fa fa-info-circle"></span> Ouch, you fail last question, don't worry try with this question.</p>
                    <% } %>
                    <% } else { %>
                    <p class="card-text">
                        Hello friend, the right card give you some questions, you must to check only one answer and
                        check if it is the correct answer.
                    </p>
                    <% } %>
                </div>
            </div>
            <div class="card">
                <div class="card-block  ">
                    <h4 class="card-title">
                        <span class="fa fa-question-circle-o"></span> <%= question.title %>
                    </h4>
                    <div class="card-text">
                        <form method="POST" id="quiz-form" action="/quiz">
                            <% for(let a of question.answers) { %>
                            <div class="form-group">
                                <input type='checkbox' name="answer" id="answer" class="custom-checkbox" value="<%= a %>"/> <%= a %>
                            </div>
                            <% } %>
                            <input type="hidden" name="question_id" id="question_id" value="<%= question._id %>"/>
                            <div class="text-xs-right">
                                <button type="submit" class="btn pastel-btn">
                                    <span class="fa fa-send-o"></span> Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer.ejs %>
</body>
</html>
