<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>

<body>
<div class="container">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-handshake-o"></span> Laws
                    </h4>
                    <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/resources/LEY_ORGANICA_5_1985.pdf">
                                <span class="fa fa-cloud-download"></span> LEY_ORGANICA_5_1985.pdf
                            </a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-book"></span> Historic
                    </h4>
                    <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/resources/PROV_02_197706_1.xlsx">
                                <span class="fa fa-cloud-download"></span> PROV_02_197706_1.xlsx
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/public/resources/PROV_02_197903_1.xlsx">
                                <span class="fa fa-cloud-download"></span> PROV_02_197903_1.xlsx
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/public/resources/PROV_02_198210_1.xlsx">
                                <span class="fa fa-cloud-download"></span> PROV_02_198210_1.xlsx
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/public/resources/PROV_02_198606_1.xlsx">
                                <span class="fa fa-cloud-download"></span> PROV_02_198606_1.xlsx
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/public/resources/PROV_02_198910_1.xlsx">
                                <span class="fa fa-cloud-download"></span> PROV_02_198910_1.xlsx
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="/public/resources/PROV_02_199306_1.xlsx">
                                <span class="fa fa-cloud-download"></span> PROV_02_199306_1.xlsx
                            </a>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
