<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<body>

<div class="container">
    <% if(!results.length || !elections.length)  { %>
    <% include ../../partials/no-data.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card myCard">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-pie-chart"></span> Country chart
                    </h4>
                    <% include ../../forms/country-chart.ejs %>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn pastel-btn pull-right" form="country-form">
                        <span class="fa fa-check-circle-o"></span> Let's do it!
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        <span class="fa fa-gears"></span> Setup
                    </h4>
                    <div class="card-text">
                        <p>
                            Using <b><span id="span1"></span>%</b> as minimum percentage, means that parties without a
                            minimum number of votes equal to that percentage of the total number of votes.
                        </p>
                        <p>
                        <ul class="ul">
                            <li>Aggregate Communities: <b><span id="span2"></span></b></li>
                            <li>Aggregate Whole Country: <b><span id="span3"></span></b></li>
                        </ul>
                        </p>
                        <p>
                            If you <b>aggregate communities</b> each community counts like a district.
                        </p>
                        <p>
                            If you <b>aggregate whole country</b>, it counts like a single district. Also, it disables
                            aggregation if checked.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <% } %>
</div>
<script>
    function changeSpan1(){
        $('#span1').text($('#percentage').val());
    }
    function changeSpan2(){
        if(document.getElementById('aggregateCommunities').checked){
            $('#span2').text('enabled');
        } else {
            $('#span2').text('disabled');
        }
    }
    function changeSpan3(){
        if(document.getElementById('wholeCountry').checked){
            $('#span3').text('enabled');
        } else {
            $('#span3').text('disabled');
        }
    }
    $('#span1').text($('#percentage').val());
    $('#span2').text('disabled');
    $('#span3').text('disabled');

</script>
<% include ../../partials/footer.ejs %>
</body>
</html>



