<!DOCTYPE html>
<html>
<% include ../../partials/head.ejs %>
<% include ../../partials/menu.ejs %>
<body>

<div class="container">
    <% if(!results.length)  { %>
    <% include ../../partials/no-data.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        Single district chart
                    </h4>
                    <% include ../../forms/single-chart.ejs %>
                    <div class="text-xs-right">
                        <button type="submit" class="btn pastel-btn" form="form1">
                            <span class="fa fa-check-circle-o"></span> Let's do it!
                        </button>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        Setup
                    </h4>
                    <div class="card-text">
                        <p>
                            You are going to calculate the result of distributing <b><span id="span1"></span> seats</b>
                            between the presented parties.
                        </p>
                        <p>
                            Using <b><span id="span2"></span>%</b> as minimum percentage, means that parties without a
                            minimum number of votes equal to that percentage of the total number of votes.
                        </p>
                        <p>
                            The chart will be a <b><span id="span3"></span></b> kind chart.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <% } %>
</div>
<script>
    function changeSpan1() {
        $('#span1').text($('#mandates').val());
    }
    function changeSpan2() {
        $('#span2').text($('#percentage').val());
    }
    function changeSpan3() {
        $('#span3').text($('#mode').val());
    }
    $('#span1').text($('#mandates').val());
    $('#span2').text($('#percentage').val());
    $('#span3').text($('#mode').val());
</script>
<% include ../../partials/footer.ejs %>
</body>
</html>



