<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>
<body>

<div class="container">
    <% if(!results.length || !ellections.length)  { %>
    <% include ../partials/no-data.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card myCard">
                <div class="card-block">
                    <h4 class="card-title">
                        Country chart
                    </h4>
                    <% include ../forms/country-chart.ejs %>
                </div>
                <div class="card-footer pull-right">
                    <button type="submit" class="btn btn-primary" form="country-form">
                        <span class="fa fa-check-circle-o"></span> Let's do it!
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">
                        Map configuration
                    </h4>
                    <div class="card-text">
                        <p>
                            Here will live the setup map.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <% } %>
</div>
<!--<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/es/es-all.js"></script>-->
<% include ../partials/footer %>
</body>
</html>



