<!DOCTYPE html>
<html>
<% title = 'EllSim' %>
<% include ../partials/head.ejs %>
<body>
<div class="container-fluid">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title"> Error </h4><hr>
                    <ul class="card-text list-group">
                        <li class="list-group-item">
                            <b>Message: </b><%= message %>
                        </li>
                        <li class="list-group-item">
                            <b>Status: </b><%= error.status %>
                        </li>
                    </ul><br>
                    <h4 class="card-title"> Stack trace</h4><hr>
                    <ul class="card-text list-group">
                        <li class="list-group-item">
                            <pre><%= error.stack %></pre>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>
