<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>
<body>

<div class="container">
    <% if(!results.length || !ellections.length)  { %>
    <% include ../partials/no-data.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card myCard">
                <img src="/images/granada.png" class="card-img-top"  width="100%" height="270"/>
                <div class="card-block">
                    <h4 class="card-title">
                        Single district chart
                    </h4>
                    <% include ../forms/single-chart.ejs %>
                    <div class="text-xs-right">
                        <button type="submit" class="btn btn-primary" form="form1">
                            <span class="fa fa-check-circle-o"></span> Let's do it!
                        </button>
                    </div>
                </div>

            </div>

            <div class="card myCard">
                <img src="/images/spain.png" class="card-img-top"  width="100%" height="270"/>
                <div class="card-block">
                    <h4 class="card-title">
                        Country chart
                    </h4>
                    <% include ../forms/country-chart.ejs %>
                </div>
                <div class="card-footer text-xs-right">
                    <button type="submit" class="btn btn-primary" form="country-form">
                        <span class="fa fa-check-circle-o"></span> Let's do it!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!--<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/es/es-all.js"></script>-->
<% include ../partials/footer %>
</body>
</html>



