<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<% include ../partials/menu.ejs %>
<body>
<div class="container">
    <% if(advice) { %>
    <% include ../partials/advice-login.ejs %>
    <% } else { %>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card indexCard">
                <img class="card-img-top" src="images/index-chart.jpg" width="100%" height="240"/>
                <div class="card-block  ">
                    <h4 class="card-title">Simulator</h4>
                    <p class="card-text">
                        Simulate single district. Simulate whole country. Change params.
                        Store results. Create charts
                    </p>
                </div>
            </div>
            <div class="card indexCard">
                <img class="card-img-top" src="images/index-compare.jpg" width="100%" height="240"/>
                <div class="card-block">
                    <h4 class="card-title">Compare</h4>
                    <p class="card-text">
                        Analyze your stored results to compare them.
                    </p>
                </div>
            </div>
            <div class="card indexCard">
                <img class="card-img-top" src="images/index-learn.jpg" width="100%" height="240"/>
                <div class="card-block">
                    <h4 class="card-title">Learn</h4>
                    <p class="card-text">
                        Read the docs about politics sciences, statistics, math uses...
                    </p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card indexCard">
                <img class="card-img-top" src="images/index-git.png" width="100%" height="240"/>
                <div class="card-block">
                    <h4 class="card-title">Open Source</h4>
                    <p class="card-text">
                        Contribute or create your own system.
                    </p>
                </div>
            </div>
            <div class="card indexCard">
                <img class="card-img-top" src="images/index-have-fun.jpg" width="100%" height="240"/>
                <div class="card-block  ">
                    <h4 class="card-title">Have Fun!</h4>
                    <p class="card-text">
                        Play the mini-games or try to solve some quizs.
                    </p>
                </div>
            </div>
            <div class="card indexCard">
                <img class="card-img-top " src="images/index-download.png" width="100%" height="240"/>
                <div class="card-block  ">
                    <h4 class="card-title">Resources</h4>
                    <p class="card-text">
                        Download resources.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
