<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>

<body>
<div class="container" style="margin-top: 20px;">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Legislación</h4>
                    <p class="card-text">
                        La legislación electoral española que rige en España los procesos electorales por
                        sufragio universal desde 1976 comprende la Ley Orgánica 5/1985, de 19 de junio,
                        del Régimen Electoral General (LOREG) para el caso del Congreso de los Diputados,
                        el Senado, el Parlamento Europeo y los ayuntamientos, y otras leyes vigentes de ámbito
                        autonómico en España.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
