<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>

<body>
<div class="container" style="margin-top: 20px;">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card myCard">

                <img class="card-img-top" src="images/dhondt.gif" width="100%" height="auto"/>
                <div class="card-block  ">
                    <h4 class="card-title">Victor D’Hondt</h4>
                    <p class="card-text">
                        Victor D’Hondt (Gante, 20 de noviembre de 1841-30 de mayo de 1901) fue un jurista belga y
                        profesor de derecho civil y de derecho fiscal en la Universidad de Gante...
                    </p>
                </div>
                <div class="card-footer text-xs-right">
                    <a href="#" class="btn btn-primary">Read more <span class="fa fa-chevron-right"></span></a>
                </div>

            </div>
            <div class="card myCard">

                <img class="card-img-top" src="images/dhondt.gif" width="100%" height="auto"/>
                <div class="card-block  ">
                    <h4 class="card-title">Victor D’Hondt</h4>
                    <p class="card-text">
                        Victor D’Hondt (Gante, 20 de noviembre de 1841-30 de mayo de 1901) fue un jurista belga y
                        profesor de derecho civil y de derecho fiscal en la Universidad de Gante...
                    </p>
                </div>
                <div class="card-footer text-xs-right">
                    <a href="#" class="btn btn-primary">Read more <span class="fa fa-chevron-right"></span></a>
                </div>

            </div>


            <div class="card myCard">

                <img class="card-img-top" src="images/dhondt.gif" width="100%" height="auto"/>
                <div class="card-block  ">
                    <h4 class="card-title">Victor D’Hondt</h4>
                    <p class="card-text">
                        Victor D’Hondt (Gante, 20 de noviembre de 1841-30 de mayo de 1901) fue un jurista belga y
                        profesor de derecho civil y de derecho fiscal en la Universidad de Gante...
                    </p>
                </div>
                <div class="card-footer text-xs-right">
                    <a href="#" class="btn btn-primary">Read more <span class="fa fa-chevron-right"></span></a>
                </div>

            </div>

            <div class="card myCard">

                <img class="card-img-top" src="images/dhondt.gif" width="100%" height="auto"/>
                <div class="card-block  ">
                    <h4 class="card-title">Victor D’Hondt</h4>
                    <p class="card-text">
                        Victor D’Hondt (Gante, 20 de noviembre de 1841-30 de mayo de 1901) fue un jurista belga y
                        profesor de derecho civil y de derecho fiscal en la Universidad de Gante...
                    </p>
                </div>
                <div class="card-footer text-xs-right">
                    <a href="#" class="btn btn-primary">Read more <span class="fa fa-chevron-right"></span></a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
