<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>

<body>
<div class="container" style="margin-top: 20px;">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <% for(var i = 0, len = parties.length; i < len; i++) { %>
            <div class="card">
                <a href="<%= parties[i].description %>">
                    <img src="<%= parties[i].img %>" width="100%" class="card-img-top"/>
                </a>
            </div>
            <% } %>
        </div>

    </div>
</div>
<% include ../partials/footer %>
</body>
</html>
