<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>
<script src="/add-data.js"></script>
<body background="images/construction.jpg">
<div class="container" style="margin-top: 20px;">

    <div class="row">
        <div class="col-md-8 well">
            <form class="form" role="form" method="POST" action="/add-data">
                <div class="row">
                    <div class="col-sm-4 form-group">

                        <label for="province">
                            Select a province
                        </label>
                        <select class="form-control" name="province" id="province" required onchange="parseFields(processTextarea)">
                            <% Object.keys(codigos).forEach(function(key1) { %>
                            <% Object.keys(codigos[key1]).forEach(function(key2) { %>
                            <option value="<%- codigos[key1][key2] %> "><%= key1 %> - <%= key2 %> </option>
                            <% }); %>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="population">
                            Population
                        </label>
                        <input class="form-control" min="1" value="1000" type="number" name="population"
                               id="population" onchange="parseFields(processTextarea)" required/>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="tables">
                            Tables
                        </label>
                        <input class="form-control" min="1" value="2" type="number" name="tables" id="tables"
                               onchange="parseFields(processTextarea)" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="date">
                            <span class="glyphicon glyphicon-calendar"></span> Select a date
                        </label>
                        <input class="form-control" type="date" name="date" id="date" onchange="parseFields()" required/>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="voters">
                            Voters
                        </label>
                        <input class="form-control" min="1" value="2" type="number" name="voters" id="voters"
                               onchange="parseFields(processTextarea)" required/>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="census">
                            Electoral census
                        </label>
                        <input class="form-control" min="1" value="2" type="number" name="census" id="census"
                               onchange="parseFields(processTextarea)" required/>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="blancos">
                            Blank votes
                        </label>
                        <input class="form-control" type="number" min="0" value="2" name="blancos" id="blancos"
                               onchange="parseFields(processTextarea)" required/>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="nulos">
                            Null votes
                        </label>
                        <input class="form-control" min="0" value="2" type="number" name="nulos" id="nulos"
                               onchange="parseFields(processTextarea)" required/>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="author">
                            <span class="glyphicon glyphicon-user"></span> Your name
                        </label>
                        <input class="form-control" value="Anonymous" type="text" name="author" id="author"
                               onchange="parseFields(processTextarea)" required/>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="votes">
                            <span class="glyphicon glyphicon-user"></span> Votes<br>
                            <small>Write each party with the number of votes then linebreak.</small>
                        </label>
                        <textarea class="form-control" id="votes" name="votes" rows="8" onchange="parseFields(processTextarea)">PP - 123
PSOE - 123</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">

                    </div>
                    <div class="col-sm-4 form-group">
                        <button type="submit" class="btn btn-block btn-info">
                            <span class="glyphicon glyphicon-send"></span> Submit
                        </button>
                    </div>
                    <div class="col-sm-4 form-group">

                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 well">
            <p>
                <b>Data</b><br>
                {<br>
                &nbsp;&nbsp;&nbsp;cod_provincia : <span id="cod_provinciaSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;poblacion : <span id="poblacionSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;num_mesas : <span id="num_mesasSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;total_censo_electoral : <span id="total_censo_electoralSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;total_votantes : <span id="total_votantesSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;votos_validos : <span id="votos_validosSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;votos_blanco : <span id="votos_blancoSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;votos_candidaturas : <span id="votos_candidaturasSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;votos_nulo : <span id="votos_nuloSpan"></span>,<br>
                &nbsp;&nbsp;&nbsp;eleccion : {<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="eleccionSpan1"></span>,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="eleccionSpan2"></span><br>
                &nbsp;&nbsp;&nbsp;},<br>
                &nbsp;&nbsp;&nbsp;partidos : {<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="partidosSpan"></span><br>
                &nbsp;&nbsp;&nbsp;}<br>
                }
            </p>

        </div>
    </div>
</div>
<script>
    parseFields(processTextarea);

</script>

</body>
</html>
