<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>

<body background="images/construction.jpg">
<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="images/dhondt.gif" width="150" height="150"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Victor D’Hondt</h4>
                        <p>
                            Victor D’Hondt (Gante, 20 de noviembre de 1841-30 de mayo de 1901) fue un jurista belga y
                            profesor de derecho civil y de derecho fiscal en la Universidad de Gante.
                            Ideó un método, descrito en 1878 y conocido como Sistema D'Hondt, que permite obtener el
                            número
                            de cargos electos en proporción a los votos conseguidos por las candidaturas. Su método fue
                            adoptado en muchos países, como por ejemplo Argentina, Austria, Bélgica, Brasil, Bulgaria,
                            Chile, Colombia, Croacia, Ecuador, Eslovenia, España, Finlandia, Guatemala, Irlanda, Israel,
                            Japón, Países Bajos, Paraguay, Polonia, Portugal, República Checa, Suiza, Turquía o
                            Venezuela.
                        </p>
                        <a href="https://es.wikipedia.org/wiki/Victor_d%27Hondt">
                            https://es.wikipedia.org/wiki/Victor_d%27Hondt
                        </a>
                    </div>
                </div>
            </div>

            <div class="well">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="images/dhondt-system.jpg" width="150" height="150"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Sistema D’Hondt</h4>
                        <p>
                            El sistema d'Hondt es un método de promedio mayor para asignar escaños en sistemas de
                            representación proporcional por listas electorales. Los métodos de promedio mayor se
                            caracterizan por dividir a través de distintos divisores los totales de los votos obtenidos
                            por los distintos partidos, produciéndose secuencias de cocientes decrecientes para cada
                            partido y asignándose los escaños a los promedios más altos. Fue creado por el jurista
                            belga Victor d'Hondt en 1878.
</p>
                        <p>
                            Los sistemas de representación proporcional intentan asignar los escaños a las listas de
                            manera proporcional al número de votos recibidos. En general, no es posible alcanzar la
                            proporcionalidad exacta, ya que no es posible asignar un número decimal de escaños. De los
                            métodos comúnmente utilizados para la conversión proporcional de votos en escaños, el método
                            d’Hondt, siendo bastante proporcional, tiende a favorecer un poco más que otros a los
                            grandes partidos. Sin embargo, hay dos circunstancias que favorecen muchísimo más a
                            dichos partidos: las circunscripciones pequeñas y la barrera electoral.<br>
</p>
                        <p>
                            Al menos estos países utilizan el método d’Hondt para el reparto de votos en escaños:
                            Albania, Argentina, Austria, Bélgica, Brasil, Bulgaria, Camboya, Cabo Verde, Chile,10
                            Colombia, República Dominicana, Croacia, República Checa, Timor del Este, Ecuador,
                            España, Estonia, Finlandia, Guatemala, Hungría, Islandia, Israel, Japón, Kosovo,
                            Luxemburgo, Macedonia, Moldavia, Montenegro, Países Bajos, Paraguay, Perú, Polonia,
                            Portugal, Rumanía, Escocia, Serbia, Eslovenia, Turquía, Uruguay, Venezuela y Gales.
                        </p>
                        <a href="https://es.wikipedia.org/wiki/Sistema_d%27Hondt">
                            https://es.wikipedia.org/wiki/Sistema_d%27Hondt
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
