<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/menu %>

<body>
<div class="container" style="margin-top: 20px;">
    <div class="card-deck-wrapper">
        <div class="card-deck">

            <div class="card">
                <div class="card-block  ">
                    <h4 class="card-title">Spain parties</h4>
                    <p class="card-text">
                        'FE-UF',<br>
                        'UF-FI-AT',<br>
                        'CIME',<br>
                        'POC',<br>
                        'PIPPA',<br>
                        'FEA',<br>
                        'CNA',<br>
                        'LC',<br>
                        'ARDE',<br>
                        'PPROV',<br>
                        'DSCC',<br>
                        'CIC',<br>
                        'P-CANT',<br>
                        'E CATALA',<br>
                        'ULE',<br>
                        'PSIN',<br>
                        'SMIM',<br>
                        'PDPCAN',<br>
                        'PRE',<br>
                        'UNAI',<br>
                        'PNPV',<br>
                        'URV',<br>
                        'PLIB',<br>
                        'PANCAL',<br>
                        'PSAR - PSDA',<br>
                        'UPN',<br>
                        'FJONSA',<br>
                        'UFV',<br>
                        'LCR',<br>
                        'PAR',<br>
                        'PCT',<br>
                        'OCEBR-UCE',<br>
                        'PCARL',<br>
                        'IR',<br>
                        'PG-POG-PSG',<br>
                        'BEAN',<br>
                        'C-UPC',<br>
                        'BNPG',<br>
                        'MC-OIC',<br>
                        'EE',<br>
                        'ERFN',<br>
                        'ORT',<br>
                        'PSOE-H',<br>
                        'HB',<br>
                        'PTE',<br>
                        'PNV',<br>
                        'PSA-PA',<br>
                        'UN',<br>
                        'CIU',<br>
                        'CD',<br>
                        'PCE',<br>
                        'PSOE',<br>
                        'UCD',<br>
                        'PP',<br>
                        'PODEMOS',<br>
                        'CIUDADANOS'<br>
                    </p>
                </div>

           </div>


        </div>
    </div>
</div>
</body>
</html>
