<form class="card-text" method="POST" id="form1" action="/graphic-form">
    <div class="row">
    <div class="form-group col-xs-12">

        <label for="resultSelected">
            <span class="fa fa-database"></span> Select a stored district
        </label>
        <select class="form-control" name="resultSelected" id="resultSelected">
            <% for(let i = 0, len = results.length; i < len; i++){ %>
            <option value="<%= results[i]._id %>">
                <%= moment(results[i].election.date).format('DD/MM/YYYY') %> |
                <%= results[i].province %> |
                <%= results[i].election.author.toUpperCase() %>
            </option>
            <% } %>
        </select>
    </div>
</div>
    <div class="row">

        <div class="form-group col-xs-6 ">
            <label for="mandates">
                <span class="fa fa-user"></span> Number of mandates
            </label>
            <input class="form-control" onchange="changeSpan1();" type="number" value="2" min="2" max="30" name="mandates" id="mandates" >

        </div>
        <div class="form-group col-xs-6">
            <label for="percentage">
                <span class="fa fa-percent"></span> Minimum percentage
            </label>
            <input class="form-control " onchange="changeSpan2();" type="number" value="2" min="0" max="100" name="percentage" id="percentage">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label for="mode">
                <span class="fa fa-signal"></span> Chart kind
            </label>
            <select class="form-control" name="mode" id="mode" onchange="changeSpan3();">
                <option value="column">Column</option>
                <option value="pie">Pie</option>
            </select>
        </div>
    </div>

</form>


